@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .perspective {
    perspective: 1000px;
  }

  .preserve-3d {
    transform-style: preserve-3d;
  }

  .rotate-y-180 {
    transform: rotateY(180deg);
  }

  .backface-invisible {
    backface-visibility: hidden;
  }

  .wk-backface-invisible {
    -webkit-backface-visibility: hidden;
  }

  .read-more-gradient {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0.9) 50%, #fff 100%);
    background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0.9) 50%, #fff 100%);
  }

  .breakAll {
    word-break: break-all;
  }

  .crew-bg-blue {
    background: linear-gradient(to bottom, #5db0d0 0%, #5db0d0 30%, #f8fdff 30%, #f8fdff 100%);
  }

  .crew-bg-purple {
    background: linear-gradient(to bottom, #6e4e9d 0%, #6e4e9d 30%, #f8fdff 30%, #f8fdff 100%);
  }

  .ed-back-linear {
    background: linear-gradient(180deg, #5db0d0 0%, #5db0d0 20%, #f8fdff 20%, #f8fdff 100%);
  }

  .slick-dots-tw {
    margin-top: 10px;
    display: flex !important;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    list-style-type: none;
    justify-content: space-between;

    & li {
      @apply inline-block cursor-pointer w-4 h-4  ;

      & button {
        @apply bg-gray-400 rounded-full block w-4 h-4 cursor-pointer text-transparent outline-none hover:bg-off-white;
      }
    }
  }

  .slick-slider-tw {
    & .slick-arrow {
      position: absolute;
      top: 50%;
      display: block;
      width: 6vw;
      height: 6vw;
      cursor: pointer;
    }

    & .slick-prev {
      border-bottom: 1vw solid #ffffff98;
      border-left: 1vw solid #ffffff98;
      transform: translate(-45%, -50%) rotate(45deg);
    }

    & .slick-prev::before {
      content: '';
    }

    & .slick-next {
      border-top: 1vw solid #ffffff98;
      border-right: 1vw solid #ffffff98;
      transform: translate(45%, -50%) rotate(45deg);
    }

    & .slick-next::before {
      content: '';
    }
  }
}
